.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
body {
    padding-top: 60px;
    background-color: white ;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
